* {
    outline: none;
    cursor: default;
}

a,
a * {
    cursor: pointer;
}

html,
body {
    font-family: 'Share Tech Mono';
    font-size: 12pt;
    background: #000;
    color: #FFF;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #111;
    border: 1px solid #222;
    margin-bottom: 10px;
}

.message-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.message-header-author {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.message-header-avatar {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    background: #222;
}

.message-input {
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
}